.button {
  border: 3px solid #ffffff;
  background-color: transparent;
  font-family: $f-bold;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 30px;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: rgb(210, 40, 86);
  }

  &:active {
    background-color: #ffffff;
    color: rgba(210, 40, 86, 0.3);
  }
}

.button--red {
  margin-bottom: 24px;
  border-color: rgb(210, 40, 86);
  color: rgb(210, 40, 86);

  &:hover,
  &:focus {
    background-color: rgb(210, 40, 86);
    color: rgb(255, 255, 255);
  }

  &:active {
    background-color: rgb(210, 40, 86);
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--gray {
  border-color: #283645;
  color: rgb(40, 54, 69);
  background-color: transparent;
  opacity: 0.1;

  &:hover,
  &:focus {
    border-color: #283645;
    color: rgb(40, 54, 69);
    background-color: transparent;
    opacity: 0.3;
  }

  &:active {
    border-color: #283645;
    color: rgba(255, 255, 255, 0.3);
    background-color: #283645;
    opacity: 0.3;
  }
}

@media (min-width: $mobile) {
  .button {
    @include font(18px, 18px);
    width: 280px;
  }
}

@media (min-width: $tablet) {
  .button {
    @include font(18px, 18px);
    width: 300px;
  }

  .button--red,
  .button--gray {
    width: 260px;
  }
}

@media (min-width: $desktop) {
  .button {
    @include font(21px, 21px);
  }

  .button--red,
  .button--gray {
    @include font(18px, 18px);
    width: 183px;
  }

  .button--red {
    margin-right: 39px;
  }
}
