.button {
  border: 3px solid #ffffff;
  background-color: transparent;
  font-family: $f-bold;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 30px;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: rgb(210, 40, 86);
  }

  &:active {
    background-color: #ffffff;
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: $mobile) {
  .button {
    @include font(18px, 18px);
    width: 280px;
  }
}

@media (min-width: $tablet) {
  .button {
    @include font(18px, 18px);
    width: 300px;
  }
}

@media (min-width: $desktop) {
  .button {
    @include font(21px, 21px);
  }
}
