.features {
  padding: 65px 0 55px 0;
  background-image:
    linear-gradient(-4deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 425px, rgb(242, 242, 242) 425px, rgb(242, 242, 242) 100%);
  transform: rotate(180deg);
}

.features__header {
  @include vh;
}

.features__promo {
  @include reset;
  @include font(50px, 57px);
  font-family: $f-light;
  font-weight: 100;
  text-align: center;
  max-width: 735px;
  margin: 0 auto;

  &:last-of-type {
    margin-bottom: 60px;
  }
}

.features__list {
  @include reset;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  width: 300px;
  text-align: center;
  padding-top: 60px;
}

.features__item--time {
  width: 100%;
  text-align: left;
  //padding-left: 365px;
  padding-top: 95px;
  margin-top: 65px;

  & .features__item-text {
    width: 100%;
    padding-top: 5px;
    margin-bottom: 30px;
  }
}

.features__item-header {
  display: block;
  font-family: $f-bold;
  @include font(30px, 30px);
  margin-bottom: 20px;
}

.features__item-text {
  @include reset;
  width: 290px;
  margin: 0 auto;
}

.features__item-link {
  color: rgb(210, 40, 86);
}
