.page-main__cover {
  margin-top: -115px;
  background-repeat: no-repeat;
  background-color: rgb(40, 54, 69);
  width: 100%;
  position: relative;
}

.page-main__wrapper {
  @include wrapper;
  padding: 0 20px;
}

.page-main__wrapper--flipped {
  transform: rotate(-180deg);
}

.page-main__reviews {
  position: relative;
}

.page-main__header {
  @include reset;
  color: rgb(255, 255, 255);
  font-family: $f-light;
  font-weight: 100;
  text-align: center;
  @include wrapper;
}

@media (min-width: $mobile) {
  .page-main__wrapper {
    width: 280px;
  }

  .page-main--shift {
    transform: translateY(260px);
    transition: 0.2s;
  }

  .page-main__cover {
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-size: 700px;
    background-position: center 42px;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-main__cover {
      background-image: url(../img/bg-back-mobile@2x.jpg);
    }
  }

  .page-main__header {
    padding: 140px 20px 82px 20px;
    @include font(24px, 30px);
  }

  .page-main__header--form {
    padding: 140px 20px 52px 20px;
  }
}

@media (min-width: $tablet) {
  .page-main__wrapper {
    width: 620px;
  }

  .page-main--shift {
    transform: translateY(255px);
  }

  .page-main__cover {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-size: 1200px;
    background-position: center 5px;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-main__cover {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    }
  }

  .page-main__header {
    padding: 185px 20px 140px 20px;
    @include font(50px, 60px);
  }

  .page-main__header--form {
    padding: 185px 20px 80px 20px;;
  }
}

@media (min-width: $desktop) {
  .page-main__wrapper {
    width: 940px;
    padding: 10px 0;
  }

  .page-main__cover {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: 2560px;
    background-position: center 15px;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-main__cover {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    }
  }

  .page-main__header {
    padding: 180px 20px 100px 20px;
  }
}
