.page-main__cover {
  margin-top: -110px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(29, 38, 49);
  width: 100%;
  position: relative;
}

@media (min-width: $mobile) {
  .page-main__cover {
    background-image: url(../img/bg-back-mobile@1x.jpg);
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-main__cover {
      background-image: url(../img/bg-back-mobile@2x.jpg);
    }
  }
}

@media (min-width: $tablet) {
  .page-main__cover {
    background-image: url(../img/bg-back-tablet@1x.jpg);
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-main__cover {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    }
  }
}

@media (min-width: $desktop) {
  .page-main__cover {
    background-image: url(../img/bg-back-desktop@1x.jpg);
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-main__cover {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    }
  }
}
