.page-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__body {
  position: relative;
  z-index: 1;
}

.page-header__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px 40px 20px;
}

.page-header__logo {
  display: block;
  margin-top: -8px;

  & svg {
    fill: #ffffff;
  }
}

@media (min-width: $mobile) {
  .page-header__ico-mobile {
    display: block;
  }

  .page-header__ico-tablet {
    display: none;
  }

  .page-header__ico-desktop {
    display: none;
  }
}

@media (min-width: $tablet) {
  .page-header__ico-mobile {
    display: none;
  }

  .page-header__ico-tablet {
    display: block;
  }

  .page-header__ico-desktop {
    display: none;
  }
}

@media (min-width: $desktop) {
  .page-header__ico-mobile {
    display: none;
  }

  .page-header__ico-tablet {
    display: none;
  }

  .page-header__ico-desktop {
    display: block;
  }
}
