.promo {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
}

.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

.promo__header {
  color: rgb(255, 255, 255);
  @include reset;
  font-family: $f-light;
  font-weight: 100;
  text-align: center;
  align-self: center;
}

.promo__list-link {
  @include reset;
  list-style: none;
  width: 210px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: center;
}

.promo__item-link {
  align-self: flex-end;

  & .promo__download {
    display: block;
    width: 47px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  & .promo__download--apple {
    background-image: url("../img/logo-apple.svg");
  }

  & .promo__download--android {
    background-image: url("../img/logo-android.svg");
  }

  & .promo__download--windows {
    background-image: url("../img/logo-microsoft.svg");
  }

  & span {
    @include vh;
  }
}

.promo__text {
  font-family: $f-light;
  @include reset;
  color: rgb(255, 255, 255);
  text-align: center;
}

@media (min-width: $mobile) {
  .promo {
    padding-top: 480px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-size: 258px auto;
    background-position: center 195px;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .promo {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }

  .promo__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 20px 30px 20px;
    background-color: rgb(29, 38, 49);
    align-items: center;
  }

  .promo__header {
    display: none;
  }

  .promo__button {
    margin-bottom: 30px;
  }

  .promo__list-link {
    margin-bottom: 25px;
  }

  .promo__text {
    @include font(14px, 24px);
    width: 280px;
  }
}

@media (min-width: $tablet) {
  .promo {
    padding: 235px 20px 110px 20px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px auto;
    background-position: right -20px bottom 0;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .promo {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .promo__wrapper {
    width: 300px;
    padding: 0;
    background-color: transparent;
    box-sizing: none;
  }

  .promo__header {
    width: 220px;
    display: block;
    @include font(40px, 47px);
    margin-bottom: 33px;
  }

  .promo__button {
    margin-bottom: 45px;
  }

  .promo__list-link {
    margin-bottom: 40px;
  }

  .promo__text {
    @include font(18px, 24px);
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .promo {
    padding: 250px 20px 120px 20px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px auto;
    background-position: 35px bottom;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .promo {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .promo__header {
    width: 260px;
    @include font(50px, 57px);
    margin-bottom: 55px;
  }

  .promo__button {
    margin-bottom: 66px;
  }

  .promo__list-link {
    margin-bottom: 53px;
  }
}
