.publish {
  & .page-main__wrapper {
    display: flex;
  }
}

.publish__header {
  @include vh;
}

.publish__text {
  @include reset;
  text-align: center;
  margin: 0 auto;
}

.publish__cover {
  background-color: rgb(242, 242, 242);
  margin: 0 auto;
}

@media (min-width: $mobile) {

  .publish {
    & .page-main__wrapper {
      flex-direction: column;
      justify-content: center;
    }
  }

  .publish__text {
    @include font(14px, 30px);
    width: 254px;
    margin-bottom: 42px;
  }

  .publish__cover {
    padding: 20px 0;
  }
}

@media (min-width: $tablet) {

  .publish {
    & .page-main__wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .publish__text {
    @include font(18px, 30px);
    width: 424px;
    margin-bottom: 70px;
  }

  .publish__cover {
    padding: 57px 0 47px 0;
  }

  .publish__form {
    width: 274px;
  }

  .publish__config {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 185px;
    padding-top: 10px;
    align-content: space-between;
    margin-bottom: 70px;
  }

  .publish__ico {
    width: 44px;
    height: 44px;

    & svg {
      fill: rgb(210, 40, 86);
    }
  }

  .publish__ico--fill {
    & svg {
      margin-top: 4px;
      margin-left: 2px;
    }
  }

  .publish__ico--contrast {
    & svg {
      margin-left: 6px;
    }
  }

  .publish__editor {
    width: 202px;
    height: 2px;
    background-color: $text-color;
    position: relative;
    margin-right: 18px;
    margin-top: 10px;

    &:last-child {
      margin-top: 12px;
    }

    &::after {
      content: "";
      width: 275px;
      height: 1px;
      background-color: $text-color;
      opacity: 0.1;
      position: absolute;
      top: 35px;
      right: -19px;
    }

    & svg {
      position: absolute;
      top: -6px;
      fill: rgb(210, 40, 86);
      background-color: #ffffff;
      border-radius: 50%;
    }
  }

  .publish__editor--crop {
    & svg {
      right: 40px;
    }
  }

  .publish__editor--fill {
    & svg {
      left: 25px;
    }
  }

  .publish__editor--contrast {
    & svg {
      right: 90px;
    }
  }
}

@media (min-width: $desktop) {

  .publish {
    & .page-main__wrapper {
      width: 800px;
    }
  }

  .publish__text {
    margin-bottom: 65px;
  }

  .publish__cover {
    padding: 48px 80px 25px;
    margin-bottom: 25px;
    max-width: 780px;
  }

  .publish__form {
    width: 410px;
  }

  .publish__config {
    padding-top: 0;
    height: 205px;
    margin-bottom: 140px;
  }

  .publish__ico {
    width: 60px;
    height: 60px;

    & svg {
      width: 48px;
      height: 48px;
    }
  }

  .publish__ico--contrast {
    & svg {
      width: 32px;
      height: 32px;
      margin-top: 2px;
    }
  }

  .publish__ico--fill {
    & svg {
      margin-top: -5px;
    }
  }

  .publish__editor {
    width: 288px;
    margin-top: 18px;
    margin-right: 30px;

    &:last-child {
      margin-top: 17px;
    }

    &::after {
      width: 410px;
      left: -90px;
    }
  }

  .publish__editor--crop {
    & svg {
      left: 70px;
    }
  }

  .publish__editor--fill {
    & svg {
      left: 247px;
    }
  }

  .publish__editor--contrast {
    & svg {
      right: 115px;
    }
  }
}
