.site-menu__list {
  display: flex;
  flex-wrap: wrap;
  @include reset;
  list-style: none;
  justify-content: space-between;
  width: 625px;
}

.site-menu__item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  line-height: 18px;
}

.site-menu__toggle {
  display: none;
  background-color: transparent;
  border: none;

  & span {
    @include vh;
  }

  & .site-menu__ico {
    fill: #ffffff;
  }
}

@media (min-width: $mobile) and (max-width: $desktop) {
  .site-menu__toggle {
    display: block;
  }

  .site-menu__list {
    display: none;
  }
}
